@import "sass/abstract/constants.scss";
@import "sass/abstract/mixin.scss";
@import "sass/base/reset.scss";
@import "sass/layout/header.scss";
@import "sass/layout/main";
@import "sass/layout/footer";
@import "sass/pages/contacts";
@import "sass/pages/events";
@import "sass/pages/about";
@import "sass/base/hamburger";
@import "sass/pages/talk";

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 71px 0px 71px;
    @include desktop{
         padding: 0px 37px 0px 37px;
    }
    @include table{
        padding: 0px 19px 0px 18px;
    }    
}
